### Tuple:
1. immutable
2. using () elements are separated by ,
3. indexed, ordered

In [2]:
#tuple
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [3]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [6]:
l= list(tup1)
l[2]=100
tup1=tuple(l)
tup1

(12, 3, 100, 'abc', True)

### Built in methods
1. count()
2. index()

In [8]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [9]:
#unpacking
tup2= (12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [12]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [13]:
#tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [14]:
#iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. {}
2. does not allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [16]:
set1= {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [17]:
print(set1[2])

TypeError: 'set' object is not subscriptable

In [19]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### built in functions:
1. len()
2. min()
3. max()
4. set()

In [20]:
print(set1)
print(len(set1))
print(max(set1))
print(min(set1))

{1, 2, 5, 6, 45, 334}
6
334
1

In [22]:
#removing duplicates from list
list1= [1,2,3,4,5,1,2,3]
list1= set(list1)
print(list1)

{1, 2, 3, 4, 5}

### built in methods:
1. add()

In [23]:
set2={}
print(type(set2))

<class 'dict'>

In [24]:
set2=set()
print(type(set2))

<class 'set'>

In [25]:
#adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [26]:
#removing an element
#  1.pop, 2.discard, 3.clear
set2.pop()

100

In [27]:
set2.remove(12)

In [28]:
set2

{23}

In [29]:
set2.remove(12)

KeyError: 12

In [30]:
set2.discard(12)

In [31]:
set2.clear()

In [32]:
set2

set()

In [34]:
#union, difference,intersection,subset,super set,disjoint
#symmetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}
print(A.union(B))
print(A.difference(B))
print(B.difference(A))
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [36]:
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [39]:
#disjoint
X={222,23,24}
print(A.isdisjoint(B))
print(A.isdisjoint(X))

False
True

In [40]:
#symmetric difference
print(A.symmetric_difference(B))

{1, 2, 6, 7}

In [41]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [42]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [43]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [44]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### dictionary:
```dictionary name={key1:value1,key2:value2,..}```
rules for key:
1. keys should be unique
2. keys should be immutable(example:numerics,string,tuple)

In [50]:
#creating a dictionary
dict1={"name":"akhila","rollno":1234,"address":"hyd","rollno":12,(1,2,3):12} #we cannot add immutable values to dictionary like list but can add tuple which is mutable
print(dict1)

{'name': 'akhila', 'rollno': 12, 'address': 'hyd', (1, 2, 3): 12}

In [48]:
#extracting an element
print(dict1["rollno"])

12

In [51]:
#removing an entry from the dictionary
del dict1["address"]
print(dict1)

{'name': 'akhila', 'rollno': 12, (1, 2, 3): 12}

In [52]:
#adding element to dictionary
dict1["course"]="python"
print(dict1)

{'name': 'akhila', 'rollno': 12, (1, 2, 3): 12, 'course': 'python'}

### Built in methods:
1. keys()
2. items()

In [54]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'rollno', (1, 2, 3), 'course'])
dict_values(['akhila', 12, 12, 'python'])
dict_items([('name', 'akhila'), ('rollno', 12), ((1, 2, 3), 12), ('course', 'python')])

In [56]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

akhila
akhila

In [57]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'akhila', 'rollno': 12, (1, 2, 3): 12, 'course': 'python', 1: 1, 2: 2, 3: 3}

In [60]:
#removing using pop and popitem
dict1.pop("rollno")
print(dict1)

{(1, 2, 3): 12, 'course': 'python', 1: 1, 2: 2, 3: 3}

In [61]:
dict1.popitem()

(3, 3)

In [62]:
print(dict1)

{(1, 2, 3): 12, 'course': 'python', 1: 1, 2: 2}