In [3]:
list1=list(range(1,11))
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [4]:
#using list comprehension:
list3=[i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [4]:
str=input()
list1=[i for i in str if i>='0' and i<='9']
print(list1)
print(len(list1))

hello 12345
['1', '2', '3', '4', '5']
5

In [12]:
list5=list(range(1,11))
list6=list(range(11,21))
list7=[list5[i]+list6[i] for i in range(len(list5)) ]
print(list7)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [13]:
#iterate through multiple lists
#zip()
result=[i+j for i,j in zip(list5,list6)]
print(result)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### anonymous function(lambda function)

In [14]:
s=lambda x:x**2

In [15]:
s(13)

169

In [20]:
add= lambda x,y :x+y
add(78,96)

174

### map()

In [22]:
list6=list(range(1,11))
list6
result=[i*2 for i in list6]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
#map(function_name,iterable object)
result=list(map(lambda i:i*2,list6))
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
'10 20 30'.split()

['10', '20', '30']

In [30]:
x,y,z=list(map(int,input("enter input:").split()))
print(x,y,z)

enter input:10 20 30
10 20 30

### filter()

In [31]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
result=[]
for i in list6:
    if i%5==0:
        result.append(i)
result

[5, 10]

In [34]:
list(filter(lambda x:(x%5==0),list6))

[5, 10]

### reduce()

In [35]:
from functools import reduce

In [37]:
list1=[1,2,3,4,5]
m=1
for i in list1:
    m=m*i
print(m)

120

In [39]:
reduce(lambda x,y:x*y,list1)

120