# CSE-221710313005-Akhila Shankar

### ASSIGNMENT 16 (15 JUNE 2020)

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

1. What is the parameter we should use to mention the first row in the data set are not columns what is the value we should send for that parameter

In [0]:
data = pd.read_table("summer.csv")

data

     2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
0     2018-01-01 00:03:20;read;country_7;2458151262;...
1     2018-01-01 00:04:01;read;country_7;2458151263;...
2     2018-01-01 00:04:02;read;country_7;2458151264;...
3     2018-01-01 00:05:03;read;country_8;2458151265;...
4     2018-01-01 00:05:42;read;country_6;2458151266;...
...                                                 ...
1789  2018-01-01 23:57:14;read;country_2;2458153051;...
1790  2018-01-01 23:58:33;read;country_8;2458153052;...
1791  2018-01-01 23:59:36;read;country_6;2458153053;...
1792  2018-01-01 23:59:36;read;country_7;2458153054;...
1793  2018-01-01 23:59:38;read;country_5;2458153055;...

[1794 rows x 1 columns]

In [0]:
data = pd.read_table("summer.csv",sep=";")
data

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

In [0]:
data = pd.read_table("summer.csv",sep=";",header=None)
data

                        0     1          2           3        4              5
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

2. Read the data in the data.csv file in the proper format
    Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns
  - check how many rows and columns are there
  - what are the columns names
  - what are are the row labels
  - Write down your observation
    - what type of data you have 
    - In the data if you have observed are there any missing values(NaN)
  - print the datatype of each column
  - For each data type how many columns are there
  - Using describe function observe the different measures for numerical and categorical columns
  - Use the info function to get the detailed info of the dataframe
  -  Check for the duplicate values in all the columns
  -  Replace the value “South America” from country column with NaN and fill with mode of   the column
  - Check the count of categories being repeated in the source column.

In [0]:
#Use ['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country '] as columns
data = pd.read_table("summer.csv",sep=";",header=None,names=['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country'])
data

,my_datetime,event,country_code,user_id,source,country
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,South America
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America
...,...,...,...,...,...,...
1790,2018-01-01 23:57:14,read,country_2,2458153051,AdWords,North America
1791,2018-01-01 23:58:33,read,country_8,2458153052,SEO,Asia
1792,2018-01-01 23:59:36,read,country_6,2458153053,Reddit,Asia
1793,2018-01-01 23:59:36,read,country_7,2458153054,AdWords,Europe
1794,2018-01-01 23:59:38,read,country_5,2458153055,Reddit,Asia

In [0]:
#check how many rows and columns are there
print("No of rows:",data.shape[0])
print("No of columns:",data.shape[1])

No of rows: 1795
No of columns: 6

In [0]:
#what are are the row labels
print("row labels")
print(data.index.values)

row labels
[   0    1    2 ... 1792 1793 1794]

In [0]:
print("column labels")
print(data.columns.values)

column labels
['my_datetime' 'event' 'country_code' 'user_id' 'source' 'country']

In [0]:
##- Write down your observation
#- what type of data you have 
#   - In the data if you have observed are there any missing values(NaN)
data.dtypes

my_datetime     object
event           object
country_code    object
user_id          int64
source          object
country         object
dtype: object

In [0]:
data.isnull().sum()

my_datetime     0
event           0
country_code    0
user_id         0
source          0
country         0
dtype: int64

In [0]:
#print the datatype of each column
data['my_datetime'].dtypes

dtype('O')

In [0]:
data['event'].dtypes

dtype('O')

In [0]:
data['country_code'].dtypes

dtype('O')

In [0]:
data['user_id'].dtypes

dtype('int64')

In [0]:
data['source'].dtypes

dtype('O')

In [0]:
data['country'].dtypes

dtype('O')

In [0]:
#For each data type how many columns are there
print("object columns:",len(data.select_dtypes(include='O').columns))
print("int columns:",len(data.select_dtypes(include='int64').columns))

object columns: 5
int columns: 1

In [0]:
# Using describe function observe the different measures for numerical and categorical columns
data.describe(include='int64')

            user_id
count  1.795000e+03
mean   2.458152e+09
std    5.183162e+02
min    2.458151e+09
25%    2.458152e+09
50%    2.458152e+09
75%    2.458153e+09
max    2.458153e+09

In [0]:
data.describe(include='O')

                my_datetime event country_code  source country
count                  1795  1795         1795    1795    1795
unique                 1773     1            8       3       6
top     2018-01-01 03:10:36  read    country_2  Reddit    Asia
freq                      3  1795          462     949     667

In [0]:
#Use the info function to get the detailed info of the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   my_datetime   1795 non-null   object
 1   event         1795 non-null   object
 2   country_code  1795 non-null   object
 3   user_id       1795 non-null   int64
 4   source        1795 non-null   object
 5   country       1795 non-null   object
dtypes: int64(1), object(5)
memory usage: 84.3+ KB

In [0]:
# Check for the duplicate values in all the columns
for i in data.columns:
    print(i,"\n",data[data[i].duplicated()],"\n\n")

my_datetime
               my_datetime event country_code     user_id   source  \
85    2018-01-01 01:17:48  read    country_8  2458151346   Reddit
96    2018-01-01 01:23:44  read    country_7  2458151357  AdWords
194   2018-01-01 02:46:20  read    country_6  2458151455      SEO
226   2018-01-01 03:10:36  read    country_6  2458151487   Reddit
227   2018-01-01 03:10:36  read    country_6  2458151488  AdWords
267   2018-01-01 03:31:51  read    country_7  2458151528  AdWords
337   2018-01-01 04:26:24  read    country_7  2458151598  AdWords
416   2018-01-01 05:44:15  read    country_7  2458151677   Reddit
420   2018-01-01 05:47:29  read    country_2  2458151681   Reddit
422   2018-01-01 05:47:50  read    country_5  2458151683   Reddit
458   2018-01-01 06:09:59  read    country_7  2458151719   Reddit
495   2018-01-01 06:38:26  read    country_5  2458151756   Reddit
721   2018-01-01 09:48:57  read    country_8  2458151982   Reddit
738   2018-01-01 10:00:14  read    country_7  2458151999   Reddit
772   2018-01-01 10:22:10  read    country_7  2458152033   Reddit
912   2018-01-01 12:14:20  read    country_5  2458152173      SEO
1302  2018-01-01 17:39:00  read    country_8  2458152563  AdWords
1494  2018-01-01 20:20:34  read    country_6  2458152755   Reddit
1536  2018-01-01 20:52:13  read    country_7  2458152797  AdWords
1660  2018-01-01 22:27:20  read    country_4  2458152921   Reddit
1731  2018-01-01 23:16:19  read    country_2  2458152992   Reddit
1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords

            country
85             Asia
96             Asia
194   North America
226   North America
227       Australia
267            Asia
337          Europe
416   North America
420          Europe
422            Asia
458            Asia
495   South America
721   North America
738            Asia
772          Africa
912   North America
1302         Europe
1494         Africa
1536  North America
1660         Africa
1731  South America
1793         Europe


event
               my_datetime event country_code     user_id   source  \
1     2018-01-01 00:03:20  read    country_7  2458151262      SEO
2     2018-01-01 00:04:01  read    country_7  2458151263  AdWords
3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords
4     2018-01-01 00:05:03  read    country_8  2458151265   Reddit
5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit
...                   ...   ...          ...         ...      ...
1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords
1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO
1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit
1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords
1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit

            country
1     South America
2            Africa
3            Europe
4     North America
5     North America
...             ...
1790  North America
1791           Asia
1792           Asia
1793         Europe
1794           Asia

[1794 rows x 6 columns]


country_code
               my_datetime event country_code     user_id   source  \
1     2018-01-01 00:03:20  read    country_7  2458151262      SEO
2     2018-01-01 00:04:01  read    country_7  2458151263  AdWords
3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords
7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords
8     2018-01-01 00:07:21  read    country_7  2458151269  AdWords
...                   ...   ...          ...         ...      ...
1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords
1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO
1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit
1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords
1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit

            country
1     South America
2            Africa
3            Europe
7            Europe
8     North America
...             ...
1790  North America
1791           Asia
1792           Asia
1793         Europe
1794           Asia

[1787 rows x 6 columns]


user_id
 Empty DataFrame
Columns: [my_datetime, event, country_code, user_id, source, country]
Index: []


source
               my_datetime event country_code     user_id   source  \
1     2018-01-01 00:03:20  read    country_7  2458151262      SEO
3     2018-01-01 00:04:02  read    country_7  2458151264  AdWords
5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit
6     2018-01-01 00:06:06  read    country_2  2458151267   Reddit
7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords
...                   ...   ...          ...         ...      ...
1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords
1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO
1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit
1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords
1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit

            country
1     South America
3            Europe
5     North America
6            Europe
7            Europe
...             ...
1790  North America
1791           Asia
1792           Asia
1793         Europe
1794           Asia

[1792 rows x 6 columns]


country
               my_datetime event country_code     user_id   source  \
4     2018-01-01 00:05:03  read    country_8  2458151265   Reddit
5     2018-01-01 00:05:42  read    country_6  2458151266   Reddit
6     2018-01-01 00:06:06  read    country_2  2458151267   Reddit
7     2018-01-01 00:06:15  read    country_6  2458151268  AdWords
8     2018-01-01 00:07:21  read    country_7  2458151269  AdWords
...                   ...   ...          ...         ...      ...
1790  2018-01-01 23:57:14  read    country_2  2458153051  AdWords
1791  2018-01-01 23:58:33  read    country_8  2458153052      SEO
1792  2018-01-01 23:59:36  read    country_6  2458153053   Reddit
1793  2018-01-01 23:59:36  read    country_7  2458153054  AdWords
1794  2018-01-01 23:59:38  read    country_5  2458153055   Reddit

            country
4     North America
5     North America
6            Europe
7            Europe
8     North America
...             ...
1790  North America
1791           Asia
1792           Asia
1793         Europe
1794           Asia

[1789 rows x 6 columns]

In [0]:
# Replace the value “South America” from country column with NaN and fill with mode of   the column
data.replace({'country' : 'South America'},np.nan,inplace=True)
data

,my_datetime,event,country_code,user_id,source,country
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,NaN
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America
...,...,...,...,...,...,...
1790,2018-01-01 23:57:14,read,country_2,2458153051,AdWords,North America
1791,2018-01-01 23:58:33,read,country_8,2458153052,SEO,Asia
1792,2018-01-01 23:59:36,read,country_6,2458153053,Reddit,Asia
1793,2018-01-01 23:59:36,read,country_7,2458153054,AdWords,Europe
1794,2018-01-01 23:59:38,read,country_5,2458153055,Reddit,Asia

In [0]:
data['country']=data['country'].fillna(data.country.mode().iloc[0])
data

,my_datetime,event,country_code,user_id,source,country
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,Asia
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America
...,...,...,...,...,...,...
1790,2018-01-01 23:57:14,read,country_2,2458153051,AdWords,North America
1791,2018-01-01 23:58:33,read,country_8,2458153052,SEO,Asia
1792,2018-01-01 23:59:36,read,country_6,2458153053,Reddit,Asia
1793,2018-01-01 23:59:36,read,country_7,2458153054,AdWords,Europe
1794,2018-01-01 23:59:38,read,country_5,2458153055,Reddit,Asia

In [0]:
#Check the count of categories being repeated in the source column.
data['source'].value_counts()

Reddit     949
AdWords    500
SEO        346
Name: source, dtype: int64