In [1]:
import pandas as pd
import numpy as np
 
# Read dataset
df = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Datasets/master/balance_data.csv')

 
# Display example observations
df.head()

   Unnamed: 0  balance  var1  var2  var3  var4
0           0        1     1     1     1     1
1           1        0     1     1     1     2
2           2        0     1     1     1     3
3           3        0     1     1     1     4
4           4        0     1     1     1     5

In [2]:
df['balance'].value_counts()

0    576
1     49
Name: balance, dtype: int64

In [3]:
# Separate input features (X) and target variable (y)
y = df.balance
X = df.drop('balance', axis=1)

In [4]:
#upsampling
from sklearn.utils import resample
# Separate majority and minority classes
df_majority = df[df.balance==0]
df_minority = df[df.balance==1]
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=576,    # to match majority class
                                 random_state=123) # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
df_upsampled.balance.value_counts()

1    576
0    576
Name: balance, dtype: int64

In [5]:
#downsampling
# Separate majority and minority classes
df_majority = df[df.balance==0]
df_minority = df[df.balance==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=49,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.balance.value_counts()

1    49
0    49
Name: balance, dtype: int64

In [6]:
#synthetic generation
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import NearMiss

In [7]:
# Implementing Oversampling for Handling Imbalanced 
smk = SMOTETomek(random_state=42)
X_res,y_res=smk.fit_sample(X,y)

In [8]:
print(X_res.shape)

(1070, 5)

In [9]:
print(X.shape)

(625, 5)

In [10]:
print(y_res.value_counts())

1    535
0    535
Name: balance, dtype: int64

In [11]:
print(y.value_counts())

0    576
1     49
Name: balance, dtype: int64